@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;800&family=Montserrat:wght@400;500;700&family=Orbitron:wght@900&family=Playfair+Display:ital,wght@0,500;0,800;1,400;1,500;1,800&family=Poppins:ital,wght@0,100;0,200;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:ital,wght@0,400;1,300;1,500&display=swap');

*{
    padding: 0;
}
body{
    font-family: 'Poppins','Montserrat', sans-serif;

}
.navbar-brand img{
    width: 65px;
    height: 65px;
}
.carousel-item img
{
    width: 100%;
    height: 80vh;

}
.about-Section 
{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.about-Section h1{
    margin: 20px auto;
    font-size: 50px;
    font-weight: 500;
    color: maroon;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.about-Section p
{
    display: flex;
    width: 70%;
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
   

}
.pizzas .container
{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
} 

.pizzas h1
{
    margin: 10px auto;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: maroon;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}
.btn a
{
    text-decoration: none;
    color: white;
}
.pizzas  p
{
    display: flex;
    margin: 20px auto;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.pizzas .pizza-item {
    border-radius: 15px;
    border: 3px solid #05b45d;
    margin-top: 20px;
  }
  
.pizzas .pizza-content {
    padding: 15px;
  }
  
.pizzas .pizza-content h3 {
    font-weight: 700;
    font-size: 20px;
  }
  
.pizzas .pizza-content p {
    font-size: 14px;
    color: #000000;
    margin-bottom: 20px;
  }
.pizzas img
  {
    width: 100%;
    height: 50%;
    border-radius: 15px;
   
  }
.pizzas .pizza-content h4 {
    font-size: 14px;
    background: #5fcf80;
    padding: 7px 14px;
    color: #fff;
    margin: 0;
  }
  
.pizzas .pizza-content .price {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    color: #37423b;
  }
.pizzaShopes
{
    display: flex;
    padding: 10px;
    margin: 20px auto;
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    background: #05b45d;
    color: yellow;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    border-radius: 30px;

}
.pizzaShopes .content h1
{
    color: maroon;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.pizzaShopes .pizza-content h1
{
    color: rgb(32, 97, 1);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}